@font-face {
    font-family: 'Aurebesh';
    src: url('Aurebesh.ttf');
}

body
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

nav
{
    display: flex;
    margin-bottom: 20px;

}
.aurebesh {
  animation-duration: 5s;
  animation-name: slide;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    color: orange; 
  }

  50% {
    color: #33d4ff;
  }

  100% {
    color: orange;
  }
}
.navblock
{
    background-color: black;
    width: 20%;
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #33d4ff;
    text-align: justify;
    color: white;
    word-wrap: break-word;
    padding: 12px;
}

.link
{
    color: white;
    text-decoration:none;
}

.element1, .element2, .element3
{
	width: 20%;
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    min-width: 200px;
    border: 1px solid white;
    text-align: justify;
    word-wrap: break-word;
    padding: 12px; /* Marge intérieure de 12px */
}

section
{
	width: 50%;
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    min-width: 400px;
    border: 1px;
    border-color: #33d4ff;
    text-align: justify;
    word-wrap: break-word;
    padding: 12px; /* Marge intérieure de 12px */
}



aside
{
	width: 50%;
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    min-width: 400px;
    border: 1px solid white;
    text-align: justify;
    word-wrap: break-word;
    padding: 12px; /* Marge intérieure de 12px */
}

article
{
	width: 50%;
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    min-width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: #33d4ff;
    text-align: justify;
    word-wrap: break-word;
    padding: 12px; /* Marge intérieure de 12px */
    margin-bottom: 20px;
}

h2
{
    color: #33d4ff;
}

.aurebesh
{
	color: orange;
	font-family: Aurebesh, sans-serif;
}
.invitalien
{
	color: green;
	font-size: 1.1em;
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}